.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 20vh;
    position: unset;
    margin-bottom: 30px;
}

.footer-mailto,
.footer-socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 5%;
    height: auto;
}
.footer-mailto::after,
.footer-socialmedia::after {
  content: '';
  display: block;
  width: 1px;
  height: 100px;
  background-color: var(--light-slate);
}

.mailto-element,
.socialmedia-element__container {
  margin: 20px auto;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  color: var(--light-slate);
  text-decoration: none;
}
.mailto-element:hover,
.mailto-element:focus{
    transform: translateY(-3px);
}
.socialmedia-element {
    color:  var(--light-slate);
    margin-top: 20px;
    margin-left: 0;
}
.footer-copyright {
    z-index: 2;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 755px) {
    .footer-mailto,
    .footer-socialmedia::after{
        display: none;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mailto-element,
    .socialmedia-element__container {
      letter-spacing: 0.1em;
      writing-mode: horizontal-tb ;
      color: var(--light-slate);
      text-decoration: none;
    }
    .footer-socialmedia {
        display: contents;
    }
    .socialmedia-element {
        margin-top: 0;
        margin-left: 20px;
    }
}