:root {
  --dark-navy: #020c1b;
  --light-slate: #a8b2d1;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark-navy);
  color: #e6f1ff;
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',  monospace;
}
svg {
  width: 20px;
}
.home-container {
  padding: min(5%, 80px);
  box-sizing: border-box;
  width: 100%;
  min-height: 80vh;
}