:root {
  --dark-navy: #020c1b;
  --light-slate: #a8b2d1;
  --green-tint: rgba(100, 255, 218, 0.1);
  --green: #64ffda;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark-navy);
  color: #e6f1ff;
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  scroll-behavior: smooth;
  line-height: 1.3;
  font-size: 20px;
  font-size:'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui,
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',  monospace;
}
svg {
  width: 20px;
}
.home-container {
  padding: min(5%, 80px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}